Unit]
Description=cpiped
After=sound.target

[Service]
Type=forking
KillMode=none
User=forkedDAAPDusr
ExecStart=${CPIPED_PATH}/cpiped -d "hw:${INPUT_DEVICE}" -s ${PWD}/soundDetect.sh -D ${OUTPUT_PIPE}
ExecStop=/usr/bin/killall -9 cpiped
WorkingDirectory=${PWD}

[Install]
WantedBy=multi-user.target